* {
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

.lateral {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 350px;
    background-color: #56B3AB;
    padding: 1em;
}

.perfil_circulo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0px;
    margin: 0px;
}

.perfil_foto {
    width: 100%;
}

.perfil_nombre {
    color: #fff;
    font-size: 20px;
    width: 250px;
    margin-left: .5em;
}

.perfil_nombre, .perfil_circulo {
    display: inline-block;
    vertical-align: middle;
}

.informacion {
    color: #0F6A62;
    position: absolute;
    bottom: 1em;
}

.informacion_titulo {
    font-size: 18px;
}

.habilidades {
    padding: 0px;
}

.habilidad {
    background-color: #0F6A62;
    color: #FFF;
    font-size: 12px;
    display: inline-block;
    padding: .5em;
    text-transform: uppercase;
}

.proyectos {
    margin-top: -50px;
    margin-left: 350px;
    padding: 1em;
    display: table;
}

.proyecto {
    width: 50%;
    padding: 1em;
    display: table-cell;
}

.proyecto_imagen {
    width: 100%;
}

.proyecto_titulo {
    color: #29597C;
    font-size: 18px;
}

.proyecto_descripcion{
    color: #797D7F;
}

.habilidad--proyecto {
    background-color: #29597C;
    color: #FFF;
    font-size: 12px;
    display: inline-block;
    padding: .5em;
    text-transform: uppercase;
}
