/* ------- FONTS ------- */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* ------- GENERAL STYLES ------- */
body {
    font-family: 'Lato', Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

/* ------- LATERAL OR ASIDE ------ */
.lateral {
    width: 100%;
/*    background-color: white;*/
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: #56B3AB;
}


.profile {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.profile_circle {
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0px;
    border: 2px solid #fff;
}

.profile_name {
    color: white;
}

.info {
    order: -1;
    text-align: center;
    color: #0F6A62;
}

.profile_pic {
    width: 100%;
}

.skills {
    display: none;
}

.info .icons {
    display: none;
}

/* ------- PROJECTS SECTION ------- */
.projects_section {
    width: 90%;
    margin-left: 5%;
}

.main h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.0em;
    font-weight: 600;
    line-height: 1.4;
    color: #45484d;
    text-align: center;
    margin-top: 40px;
}

.projects_section img {
    width: 100%;
}

.projects_section hr {
    width: 33%;
    height: 3px;
    border: none;
    background-color: #45484d;
}

.project {
    margin-bottom: 50px;
}

.project h3 {
    margin-bottom: 0px;
    margin-top: 10px;
    color: #29597C;
}

.project p {
    margin-top: 10px;
    color: #797D7F
}

.list_skills {
    padding: 0px;
}

.skill {
    background-color: #29597C;
    color: #FFF;
    font-size: 12px;
    display: inline-block;
    padding: .5em;
    text-transform: uppercase;
}

.github_link {
    display: inline-block;
    font-size: 25px;
    float: right;
}

.github_link a {
    text-decoration: none;
    color: #29597C;
}

.github_link a:hover {
    cursor: pointer;
    color: #797D7F;
}

/* ------- FOOTER ------- */
footer {
    height: 250px;
    background-color: #56B3AB;
}

footer .icons {
    color: #0F6A62;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .icons .icon {
    color: white;
    font-size: 40px;
    margin-bottom: 14px;
}

footer .icons span:nth-child(2)
{
    margin-bottom: 40px;
}

@media screen and (min-width: 480px) {

    /* ------- LATERAL OR ASIDE ------ */
    .lateral {
        position: fixed;
        top: 0px;
        bottom: 0px;
        left: 0px;
        width: 350px;
        background-color: #56B3AB;
        padding: 1em;
        height: 100%;
        box-sizing: border-box;
        display: block;
    }

    .profile {
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;

    }

    .profile_name {
        font-size: 1.7em;
    }

    .info {
        color: #0F6A62;
        order: 0;
        align-self: flex-start;
        position: absolute;
        bottom: 30px;
        text-align: left;
    }

    .skills {
        display: inherit;
        padding: 0px;
    }

    .skills .skill {
        background-color: #0F6A62;
    }

    .info .icons {
        display: block;
    }
    .info .icons .icon {
        font-size: 22px
    }

    .info .icons .icon-mail {
        margin-left: 30px;
    }

    /* ------- PROJECTS SECTION ------- */
    .main {
        margin-left: 350px;
    }

    .projects_section {
        display: flex;
        flex-wrap: wrap;
        width: auto;
        margin-left: 0px;
    }

    .projects_section article:nth-child(2) ul {
        margin-top: 35px;
    }

    .project {
        width: 46%;
        padding: 2%;
        margin-bottom: 20px;
    }

    .project hr {
        display: none;
    }

    /* ------- FOOTER ------- */
    footer {
        display: none;
    }
}

/*
@media screen and (min-width: 767px) {

    body {
        background: yellow;
    }
}

@media screen and (min-width: 950px) {

    body {
        background: blue;
    }
}
*/
